@import './base.css';

.container {
  width: 100%;
  max-width: 1560px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media (min-width: 1366px) {
  .container {
    width: 90%;
  }
}

.container.row {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0 16px;
}

.container.v-center {
  align-items: center;
}

.container.space-between {
  justify-content: space-between;
}

.container-fluid {
  width: 100%;
  box-sizing: border-box;
}

.container-fluid.row {
  display: flex;
  flex-wrap: wrap;
}
